body {
    background-color: #121212;
}

* {
    margin: 0;
    color: #E8EAED;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 0px;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: normal;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-weight: normal;
    font-size: 28px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

#tipos-de-agentes img {
    margin-top: 22px;
    width: 100%;
}

#tipos-de-agentes .container .ultimo-paragrafo {
    margin-bottom:80px;
}

section, header h1, time {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bannerImage {
    margin-bottom: 25px;
    width: 100%;
}

header {
    padding: 35px 0px 12px 0px;
    margin-bottom: 18px;
}

section {
    margin-bottom: 32px;
}

nav ul {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

ul > ul {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 30px;
}

section p {
    font-size: 18px;
    margin-top: 8px;
}

a {
    text-decoration: none;
    color: #8ab4f8
    
}

a:hover {
    text-decoration: underline;
}

time {
    margin-top: 5px;
    font-family: 'Alexandria', sans-serif;
    font-weight: 100;
    color: #999999;
}

form input, button {
    color: #000000;
    font-size:  16px;
    display: block;
    margin-top: 8px;
}
form input, button, #success-message {
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px; 
    width: 340px;
    max-width: 100%;
    border-radius: 4px;
}

#success-message {
    background-color: #159415;
    color: #fff;
    font-size:  16px;
    text-align: center;
    display: none;
}

input:focus {
    outline: none;
}

form button {
    background-color: #ffb92e;
    font-weight: bold;
    margin-bottom: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #fdc048;
}

#newsletter h2{
    margin-bottom: 32px;
}

footer {
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: #202020;
    padding: 20px 16px;
    align-items: center;
    vertical-align: middle;
}

footer p{
    font-family: 'Poppins', sans-serif;
}


footer img {
    max-width:30px;
    max-height:30px;
    width: auto;
    height: auto;
    margin-right: 20px;
}

footer ul {
    align-items: center;
    display: flex;
    list-style: none;
}

#requisitos ul {
    padding-left: 60px;
    margin-top: 17px;
    margin-bottom: 21px;
    font-size: 17px;
}

#requisitos li {
    margin-top: 10px;
    
}

ul#lista-requisitos-recomendados {
    margin-bottom: 90px;
}

#requisitos h3{
    font-size: 21px;
    margin-left: 20px;
    
}

#requisitos h2 {
    margin-bottom: 29px;
}

#success-message {
    background-color: #159415;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 12px 20px 12px 20px;
    max-width: 320px;
    border-radius: 4px;
    display: none;
}

label {
    font-size: 16px;
}

#facebook-logo {
    width: 19px;
    height: 19px;
}

#youtube-logo {
    width: 24px;
    height: 17px;
}

#linkedin-logo {
    width: 20px;
    height: 19px;
}

#twitter-logo {
    width: 23px;
    height: 19px;
}

#github-logo {
    width: 21px;
    height: 21px;
}

#twitch-logo {
    width: 21px;
    height: 21px;
}

#tiktok-logo {
    width: 19px;
    height: 19px;
}

html, body {
    overflow-x: hidden;
}

#nome {
    border: 3px solid red;
    border-radius: 4px;
}

#nome-error {
    color: red;
    font-weight: normal;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    form h2 {
        font-size: 27px;
    }
    
    h3 {
        font-size: 20px;
    }

    section p {
        font-size: 1em;
    }

    section, header h1, time {
        width: 90%;
        display: block;
    }

    footer {
        display: block;
    }

    .footer-info p {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .footer-social-media-links ul {
        margin-top: 12px;
    }

    form input, button, #success-message {
        width: 280px;
        padding: 8px;
    }

    #tipos-de-agentes .container .ultimo-paragrafo {
        margin-bottom:60px;
    }

    #requisitos li {
        font-size: 16px;
    }
    #requisitos h3 {
        font-size: 18px;
        margin-top: 0px;
        margin-left: 16px;
    }
    #requisitos h2 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    #requisitos ul {
        padding-left: 50px;
        margin-top: 12px;
        margin-bottom: 20px;
    }
}