body {
    background-color: rgb(28, 28, 28);
}

* {
    margin: 0;
    color: #E8EAED;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-left: 90px;
    margin-bottom: 0px;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: normal;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

.mobile-sidebar {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
}

aside h2 {
    padding-bottom: 8px;
}

article:hover img, article:hover h3{
    opacity: 50%;
}

article a:hover {
    text-decoration: none;
}

article h3 {
    font-family: 'Roboto', sans-serif;
}

article img {
    margin-top: 12px;
}

h3 {
    font-weight: normal;
    font-size: 28px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

#tipos-de-agentes img {
    margin-top: 22px;
    width: 100%;
}

#tipos-de-agentes .container .ultimo-paragrafo {
    margin-bottom:80px;
}

.bannerImage {
    margin-bottom: 25px;
    width: 100%;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submenu {
    padding-bottom: 12px;
    border-top: 5px solid rgb(255, 70, 70);
    border-radius: 0 0 4px 4px;
    background-color: #111;
    display: none;
    position: absolute;
    width: 200px;
    transform: translateX(-25%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu a {
    text-transform: none;
    border-radius: 4px;
    color: white;
    padding: 6px 0 6px 6px;
    margin: 6px 16px 6px 16px;
    text-decoration: none;
    display: block;
}

.page-nav-title:hover .submenu{
    display: block;
}

.submenu a:hover {
    text-decoration: none;
    background-color: #2a2a2a;
}

section {
    margin-bottom: 34px;
}

.sublist {
    padding-left: 25px;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 30px;
}

section p {
    font-size: 18px;
    margin-top: 8px;
}

a {
    text-decoration: none;
    color: #8ab4f8
    
}

a:hover {
    text-decoration: underline;
}

.page-navegation {
    max-width: 400px;
}

.nav-link p {
    height: 39.2px;
    max-height: 100%;
    color: white;
    padding: 10px;
    border-radius: 10px
}

.menu li:hover a {
    text-decoration: none;
}

.nav-link:hover p, .page-nav-title:hover p {
    text-decoration: none;
    background-color: #ffb92e;;
    border-bottom: 4px solid #c38e23;
    color: black;
}

body {
    padding-top: 80px;
}

.page-navegation, menu, .nav-link, header {
    height: 70px;
}

header {
    display: flex;
    max-height: 100%;
    background-color: #111;
    padding: 0 20px 0 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header nav {
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
}

.noticia img {
    width: 100%;
}

.conteudo {
    float: left;
}

aside {
    position: relative;
    height: fit-content;
    padding-left: 50px;
    float: right;
    width: 100%;
    min-width: none;
}

aside h3 {
    font-size: 18px;
}

.sticky {
    left: 72.5%;
    max-width: 22.45%;
    position: fixed;
    top: 70px;
}

.non-sticky {
    max-width: 22.45%;
    width: 100%;
    left: 72.5%;
    position: absolute;
}

header nav .page-navegation > ul{
    text-transform: uppercase;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

header nav .page-navegation ul li {
    font-weight: 500;
}

time {
    display: block;
    margin-top: 5px;
    margin-left: 100px;
    font-family: 'Alexandria', sans-serif;
    font-weight: 100;
    color: #999999;
}

label {
    font-size: 12px;
    display: block;
    color: #bebec7;
    margin-bottom: 4px;
}

form input, form button {
    color: #000000;
    display: block;
    border: none;
    font-size:  14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding: 14px 24px; 
    width: 340px;
    max-width: 100%;
    border-radius: 4px;
}

input:focus {
    outline: none;
}

form button {
    background-color: #ffb92e;
    font-weight: 700;
    border-radius: 24px;
    cursor: pointer;
}

form button:hover {
    background-color: #fdc048;
}

nav {
    padding-top: 30px;
    padding-left: 120px;
}

#newsletter h2{
    margin-bottom: 32px;
}

footer {
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: #121212;
    padding: 20px 16px;
    align-items: center;
    vertical-align: middle;
}

footer p{
    font-family: 'Poppins', sans-serif;
}

footer ul {
    align-items: center;
    display: flex;
    list-style: none;
    line-height: 10px;
}

#requisitos ul {
    padding-left: 60px;
    margin-top: 17px;
    margin-bottom: 21px;
    font-size: 17px;
}

#requisitos li {
    margin-top: 10px;
    
}

ul#lista-requisitos-recomendados {
    margin-bottom: 90px;
}

#requisitos h3{
    font-size: 21px;
    margin-left: 20px;
    
}

#requisitos h2 {
    margin-bottom: 29px;
}

#facebook-logo {
    width: 19px;
    height: 19px;
}

#youtube-logo {
    width: 24px;
    height: 17px;
}

#linkedin-logo {
    width: 20px;
    height: 19px;
}

#twitter-logo {
    width: 23px;
    height: 19px;
}

#github-logo {
    width: 21px;
    height: 21px;
}

#twitch-logo {
    width: 21px;
    height: 21px;
}

#tiktok-logo {
    width: 19px;
    height: 19px;
}

html, body {
    overflow-x: hidden;
}

.error {
    border: 0.800px solid #df3c3c;
    border-radius: 4px;
}

.aviso-de-aceitacao{
    width: 340px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aviso-de-aceitacao p {
    font-size: 14px;
}

.aviso-de-aceitacao p a:hover {
    color: #5685d1;;
    text-decoration: none;
}

#nome-error, #email-error {
    display: block;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #df3c3c;
    font-weight: normal;
    border: none;
}

.form-campo {
    margin-bottom: 16px;
}

#back-to-top-button {
    display: none;
    background-color: #ffb92e;
    color: #000000;
    position: fixed;
    bottom: 70px;
    right: 60px;
    z-index: 1;
    width: 70px;
    height: 70px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
}

.footer-social-media-links ul li{
    vertical-align: middle;
    margin-right: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        padding: 0 5%;
    }
    time {
        margin-left: 6%;
    }
    nav {
        padding-left: 9%;
    }
}

@media screen and (max-width: 1024px) { /* Tablet e celular muda a sidebar*/
    .submenu {
        width: 120px;
        transform: translateX(-17%);
    }
    .container {
        width: 90%;
        display: flex;
        margin: 0 auto;
        grid-template-columns: none;
    }
    .desktop-sidebar {
        display: none;
    }
    .mobile-sidebar {
        display: block;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .conteudo {
        padding-bottom: 50px;
        float: none;
    }
    aside {
        padding: 0;
        float: none;
        display: flex;
    }
    aside h2 {
        margin-bottom: 0;
        font-size: 40px;
        padding-bottom: 12px;
    }
}

@media screen and (max-width: 767px) { /* personalizacao para celular*/
    time {
        margin-left: 18px;
    }
    header {
        padding-left: 10px;
    }
    body {
        display: block;
    }
    .page-navegation, menu, .nav-link, header {
        height: 60px;
    }
    .nav-link p {
        font-size: 14px;
    }
    nav {
        padding-left: 46px;
    }

    h1 {
        padding: 0 18px;
        font-size: 24px;
    }

    h2 {
        font-size: 26px;
        margin-bottom: 12px;
    }

    form h2 {
        font-size: 27px;
    }
    
    h3 {
        margin-top: 5px;
        margin-bottom: 12px;
        font-size: 22px;
    }

    section p {
        font-size: 1em;
    }

    footer {
        background-color: #111;
        display: block;
    }

    .footer-info p {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .footer-social-media-links ul {
        margin-top: 12px;
    }

    form input, form button {
        width: 280px;
        padding: 12px;
    }

    #tipos-de-agentes .container .ultimo-paragrafo {
        margin-bottom:60px;
    }

    #requisitos li {
        font-size: 16px;
    }
    #requisitos h3 {
        font-size: 18px;
        margin-top: 0px;
        margin-left: 16px;
    }
    #requisitos h2 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    #requisitos ul {
        padding-left: 50px;
        margin-top: 12px;
        margin-bottom: 20px;
    }

    .aviso-de-aceitacao{
        width: 280px;
        margin-top: 32px;
        margin-bottom: 32px;
        text-align: center;
    }

    #back-to-top-button {
        display: none;
        width: 50px;
        font-size: 20px;
        height: 50px;
        bottom: 20px;
        right: 30px;
    }

    nav > ul {
        width: 75%;
        
    }

    ul > ul {
        width: 85%;
    }
}

@media screen and (min-width: 1024px) {
    .mobile-sidebar {
        display: none;
    }
    .desktop-sidebar {
        display: block;
    }
}