body {
    background-color: rgb(28, 28, 28);
}

* {
    margin: 0;
    color: #E8EAED;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 80px;
    margin-left: 90px;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.conteudo {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo p {
    color: rgba(255, 255, 255, 0.698);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 12.500px;
    margin-bottom: 17px;
}

time {
    padding-bottom: 15px;
}

.noticias {
    margin-left: 90px;
    margin-right: 8px;
}

.container {
    width: 70%;
    margin: 0 20% 0 10%;
    border: 3px solid rgb(50, 49, 49);
}

a {
    text-decoration: none;
}

.noticias a {
    display: flex;
    flex-direction: row;
}

.noticias a img {
    max-width: 442.500px;
    max-height: 248.900px;
    width: 100%;
    height: 100%;
}

.noticia {
    margin-bottom: 120px;
}

.conteudo button {
    cursor: pointer;
    text-align: left;
    align-items: center;
    display: flex;
    background: none;
    border: none;
    text-transform: uppercase;
}

.conteudo button p {
    font-weight: bold;
    color: #ff4655;
    margin-right: 14px;
}


.arrow {
    position: relative;
    max-width: 32px;
    width: 100%;
}

.noticias a:hover .arrow {
    animation: back-and-forth 1.5s infinite;
}

.noticia:hover img, .noticia:hover h2, .noticia:hover .conteudo > p, .noticia:hover time{
    opacity: 50%;
}

header {
    display: flex;
    height: 70px;
    max-height: 100%;
    background-color: #111;
    padding: 0 20px 0 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.page-navegation, menu, .nav-link {
    height: 70px;
}

header nav .page-navegation > ul {
    text-transform: uppercase;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

header nav .page-navegation ul li {
    font-weight: 500;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.nav-link p {
    height: 39.2px;
    max-height: 100%;
    color: white;
    padding: 10px;
    border-radius: 10px
}

.submenu {
    padding-bottom: 12px;
    border-top: 5px solid rgb(255, 70, 70);
    border-radius: 0 0 4px 4px;
    background-color: #111;
    display: none;
    position: absolute;
    width: 200px;
    transform: translateX(-25%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu a {
    text-transform: none;
    border-radius: 4px;
    color: white;
    padding: 6px 0 6px 6px;
    margin: 6px 16px 6px 16px;
    text-decoration: none;
    display: block;
}

.page-navegation {
    max-width: 400px;
}

.nav-link:hover p, .page-nav-title:hover p {
    text-decoration: none;
    background-color: #ffb92e;;
    border-bottom: 4px solid #c38e23;
    color: black;
}

.page-nav-title:hover .submenu{
    display: block;
}

.submenu a:hover {
    text-decoration: none;
    background-color: #2a2a2a;
}

.menu li:hover a {
    text-decoration: none;
}

@keyframes back-and-forth {
    0% {left: 0px;}
    25% {left: 8px;}
    50% {left: 0px;}
    75% {left: 8px;}
    100% {left: 0px;}
}